.text__link{
    font-size: 42px;
    font-weight: 400;
    line-height: 46.8px;
    text-align: left;
    padding: 5px 0;
}

.button{
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: center;
    letter-spacing: 2px;
    border: 2px solid black;
}

.button:hover{
    background-color: black;
    color: white;
}
